{% extends "./base.html" %}

{% block background %}./img/bg_art.jpg{% endblock %}
{% block color %}amber{% endblock %}
{% block title %}Admin{% endblock %}
{% block desc %}
Quick 'n dirty admin page powered by fat kongiku tiddies
<br/><br/>
Approving content moves it to the mio folder and triggers a folder scan.
Unapproved .mios will be deleted.
<br/><br/>

<script>

function approveAllAndAddTo(collection) {
	var checkboxes = new Array(); 
	checkboxes = document.getElementsByTagName('input');

	for (var i=0; i<checkboxes.length; i++)  {
		if (checkboxes[i].type == 'checkbox')   {
		checkboxes[i].checked = true;
		}
	}

	checkboxes = document.getElementsByTagName('select');

	for (var i=0; i<checkboxes.length; i++)  {
		checkboxes[i].value = collection;
	}
}

</script>

{% endblock %}


{% block content %}

<input type="button" name="Approve All" onclick="approveAllAndAddTo($('#cname').val)"/>
<input type="text" id="cname" />

<form method="post">
<input type="checkbox" name="approvedmios" checked/>
<table style="width:100%">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Description</th>
		<th>Creator</th>
		<th>Created on</th>
		<th>Approve</th>
		<th>Add to Collection</th>
	</tr>
{% for entry in pendingMios %}
	<tr>
		<td>{{entry.value.mioID}} </td>
		<td>{{entry.value.name}}</td>
		<td>{{entry.value.mioDesc1}} {{entry.value.mioDesc2}}</td>
		<td>{{entry.value.creator}}</td>
		<td>{{entry.value.timestamp}}</td>
		<td>
			<label>
				<input type="checkbox" name="approve-{{entry.key}}"/>
				<span> </span>
			</label>
		</td>
		<td> <select class="browser-default" name="collection-{{entry.key}}">
			<option value="" selected >None</option>
			{% for c in collections %}
			<option value="{{c.key}}">{{c.value.collection_name}}</option>
			{% endfor %}
		</select> </td>
	</tr>
{% endfor %}
</table>
<input type="submit" value="Submit">
</form>
{% endblock %}

{% block footdata %}

<h1 class="white-text">Create new collection:</h1>
<form method="post">

	<div class="input-field">
		<input placeholder="Placeholder" id="collection_type" name="collection_type" type="text" class="white-text">
		<label for="collection_type" class="white-text">Type(game,record,manga)</label>
	</div>

	<div class="input-field">
		<input placeholder="Placeholder" id="collection_id" name="collection_id" type="text" class="white-text">
		<label for="collection_id" class="white-text">ID</label>
	</div>

	<div class="input-field">
		<input placeholder="Placeholder" id="collection_name" name="collection_name" type="text" class="white-text">
		<label for="collection_name" class="white-text">Name</label>
	</div>

	<div class="input-field">
		<input placeholder="Placeholder" id="collection_color" name="collection_color" type="text" class="white-text">
		<label for="collection_color" class="white-text">Color</label>
	</div>

	<div class="input-field">
		<input placeholder="Placeholder" id="collection_icon" name="collection_icon" type="text" class="white-text">
		<label for="collection_icon" class="white-text">Icon</label>
	</div>

	<div class="input-field">
		<input placeholder="Placeholder" id="background_pic" name="background_pic" type="text" class="white-text">
		<label for="background_pic" class="white-text">Background URL</label>
	</div>

	<div class="input-field">
		<input placeholder="Placeholder" id="collection_desc" name="collection_desc" type="text" class="white-text">
		<label for="collection_desc" class="white-text">Description</label>
	</div>

	<div class="input-field">
		<input placeholder="Placeholder" id="collection_desc2" name="collection_desc2" type="text" class="white-text">
		<label for="collection_desc2" class="white-text">Description 2</label>
	</div>

	<input type="submit" value="Submit">
</form>

<h1 class="white-text">Send mail:</h1>
<form method="post">
	<input type="checkbox" name="sendmail" checked/>
	<div class="input-field">
		<input placeholder="Placeholder" id="wii_code" name="wii_code" type="text" class="white-text">
		<label for="wii_code" class="white-text">Wii code(enter 0 to send to everyone)</label>
	</div>

	<textarea class="white-text" rows="10" cols="35" name="mail_content" style="font-family:monospace; width: 350px !important; height: 350px !important">
-----------------------------------
Remember that Wii mails are 35-----
columns wide! Well it's not exact--
since it's not monospace but eh----
-----------------------------------
	</textarea>

	<input type="submit" value="Submit">
</form>

{% endblock %}