{% extends "./base.html" %}

{% block background %}./img/bg_art.jpg{% endblock %}
{% block color %}amber{% endblock %}
{% block title %}Admin{% endblock %}
{% block desc %}
Quick 'n dirty admin page powered by fat kongiku tiddies
<br /><br />
Approving content moves it to the mio folder and triggers a folder scan.
Unapproved .mios will be deleted.
<br /><br />

<script>

	async function testGame(id) {
		$('#game-modal').modal('open');

		// encode id for url use
		var encodedId = encodeURIComponent(id);

		mioData = await _fetch(`./manage?preview=true&file=${encodedId}`);
		playGame(mioData);
	}

	function easyFilter(default_game_collection = "d_newmio.json") {

		var checkboxes = Array.prototype.slice.call(document.getElementsByTagName('input'));
		var comboboxes = document.getElementsByTagName('select');
		var ids = new Array();
		var names = new Array();

		checkboxes.shift();

		// Get ID of every item
		$('td:first-child').each(function () {
			ids.push($(this).text());
		});

		// Get name of every item
		$('td:nth-child(3)').each(function () {
			names.push($(this).text());
		});

		for (var i = 0; i < checkboxes.length; i++) {

			var isTemplate = ids[i].includes("wari") || ids[i].includes("nint") || ids[i].includes("them");
			var isWarioQuest = names[i].includes("WarioQuest") || names[i].includes("ワリオクエスト");
			console.log(ids[i] + "-" + names[i] + "- isTemplate:" + isTemplate + "- isWarioQuest:" + isWarioQuest);

			if (checkboxes[i].type == 'checkbox') {
				checkboxes[i].checked = !isTemplate || isWarioQuest;
			}

			if (ids[i].startsWith("G") && isWarioQuest) {
				comboboxes[i].value = "warioquest.json";
				continue;
			}

			if (ids[i].startsWith("G")) {
				comboboxes[i].value = default_game_collection;
				continue;
			}

			if (ids[i].startsWith("R")) {
				comboboxes[i].value = "d_newmio_r.json";
				continue;
			}

			if (ids[i].startsWith("M")) {
				comboboxes[i].value = "d_newmio_m.json";
				continue;
			}
		}
	}

</script>

{% endblock %}

{% block extradata %}
{% include "./modalPlayer.html" %}
{% endblock %}

{% block content %}

<div class="fixed-action-btn">
	<a class="btn-floating btn-large red" style="width: 120px;" onclick="easyFilter()">
		EZ-Filter™️
	</a>
</div>

<form method="post">
	<input type="checkbox" name="approvedmios" checked />
	<table style="width:100%">
		<tr>
			<th>ID</th>
			<th>Action</th>
			<th>Name</th>
			<th>Hash</th>
			<th>Description</th>
			<th>Creator</th>
			<th>Created on</th>
			<th>Approve</th>
			<th>Add to Collection</th>
		</tr>
		{% for entry in pendingMios %}
		<tr>
			<td>{{entry.value.mioID}} </td>
			<td><a class="btn waves-effect" onclick="testGame('{{entry.key}}')">
					Test
				</a></td>
			<td>{{entry.value.name}}</td>
			<td>{{entry.value.hash}}</td>
			<td>{{entry.value.mioDesc1}} {{entry.value.mioDesc2}}</td>
			<td>{{entry.value.creator}}</td>
			<td>{{entry.value.timestamp}}</td>
			<td>
				<label>
					<input type="checkbox" name="approve-{{entry.key}}" />
					<span> </span>
				</label>
			</td>
			<td> <select class="browser-default" name="collection-{{entry.key}}">
					<option value="" selected>None</option>
					{% for c in collections %}
					<option value="{{c.key}}">{{c.value.collection_name}}</option>
					{% endfor %}
				</select> </td>
		</tr>
		{% endfor %}
	</table>
	<input type="submit" value="Submit">
</form>
{% endblock %}

{% block footdata %}

<h1 class="white-text">Create new collection:</h1>
<form method="post">

	<div class="input-field">
		<input placeholder="Placeholder" id="collection_type" name="collection_type" type="text" class="white-text">
		<label for="collection_type" class="white-text">Type(game,record,manga)</label>
	</div>

	<div class="input-field">
		<input placeholder="Placeholder" id="collection_id" name="collection_id" type="text" class="white-text">
		<label for="collection_id" class="white-text">ID</label>
	</div>

	<div class="input-field">
		<input placeholder="Placeholder" id="collection_name" name="collection_name" type="text" class="white-text">
		<label for="collection_name" class="white-text">Name</label>
	</div>

	<div class="input-field">
		<input placeholder="Placeholder" id="collection_color" name="collection_color" type="text" class="white-text">
		<label for="collection_color" class="white-text">Color</label>
	</div>

	<div class="input-field">
		<input placeholder="Placeholder" id="collection_icon" name="collection_icon" type="text" class="white-text">
		<label for="collection_icon" class="white-text">Icon</label>
	</div>

	<div class="input-field">
		<input placeholder="Placeholder" id="background_pic" name="background_pic" type="text" class="white-text">
		<label for="background_pic" class="white-text">Background URL</label>
	</div>

	<div class="input-field">
		<input placeholder="Placeholder" id="collection_desc" name="collection_desc" type="text" class="white-text">
		<label for="collection_desc" class="white-text">Description</label>
	</div>

	<div class="input-field">
		<input placeholder="Placeholder" id="collection_desc2" name="collection_desc2" type="text" class="white-text">
		<label for="collection_desc2" class="white-text">Description 2</label>
	</div>

	<input type="submit" value="Submit">
</form>

<h1 class="white-text">Send mail:</h1>
<form method="post">
	<input type="checkbox" name="sendmail" checked />
	<div class="input-field">
		<input placeholder="Placeholder" id="wii_code" name="wii_code" type="text" class="white-text">
		<label for="wii_code" class="white-text">Wii code(enter 0 to send to everyone)</label>
	</div>

	<textarea class="white-text" rows="10" cols="35" name="mail_content"
		style="font-family:monospace; width: 350px !important; height: 350px !important">
-----------------------------------
Remember that Wii mails are 35-----
columns wide! Well it's not exact--
since it's not monospace but eh----
-----------------------------------
	</textarea>
	<br />
	<input type="submit" value="Submit">
</form>

<h1 class="white-text">Send game:</h1>
<form method="post">
	<input type="checkbox" name="sendgame" checked />
	<div class="input-field">
		<input placeholder="Placeholder" id="wii_code" name="wii_code" type="text" class="white-text">
		<label for="wii_code" class="white-text">Wii code(enter 0 to send to everyone)</label>
	</div>
	<div class="input-field">
		<input placeholder="Placeholder" id="game_hash" name="game_hash" type="text" class="white-text">
		<label for="game_hash" class="white-text">Hash of Game in DoujinSoft DB</label>
	</div>
	<br />
	<input type="submit" value="Submit">
</form>

<h1 class="white-text">Send comic:</h1>
<form method="post">
	<input type="checkbox" name="sendmanga" checked />
	<div class="input-field">
		<input placeholder="Placeholder" id="wii_code" name="wii_code" type="text" class="white-text">
		<label for="wii_code" class="white-text">Wii code(enter 0 to send to everyone)</label>
	</div>
	<div class="input-field">
		<input placeholder="Placeholder" id="manga_hash" name="manga_hash" type="text" class="white-text">
		<label for="game_hash" class="white-text">Hash of Comic in DoujinSoft DB</label>
	</div>
	<br />
	<input type="submit" value="Submit">
</form>

<h1 class="white-text">Flag Games as NSFW:</h1>
<form method="post">

	<textarea class="white-text" rows="10" cols="35" name="nsfw_ids"
		style="font-family:monospace; width: 350px !important; height: 350px !important">
-----------------------------------
Writes hashes of games to flag,
one hash per line.
-----------------------------------
	</textarea>
	<br />
	<input type="submit" value="Submit">
</form>

<h1 class="white-text">Update Metadata(Name/Creator/Cartridge IDs) for entire DB:</h1>
<form method="post">
	<br />
	<input type="submit" name="set_creator_ids" value="Submit">
</form>

<h1 class="white-text">Fetch WC24 emails</h1>
<form method="post">
	<br />
	<input type="submit" name="fetch_wc24_mail" value="Submit">
</form>

{% endblock %}
