{% extends "./base.html" %}

{% block cartpage %}active{% endblock %}
{% block background %}./img/bg_send.png{% endblock %}
{% block color %}amber{% endblock %}
{% block type %}Cart{% endblock %}

{% block desc %}
Import content into your copies of DIY!
<br/><br/>
You can upload a Wii/NDS save here, and we'll import the games/comics/records you've chosen into it.
<br/><br/>

<ul class="collection with-header black-text" style="text-align:left">
        <li class="collection-header"><h4>First Names</h4></li>
        <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      </ul>

{% endblock %}



{% block footdata %}



{% endblock %}