{% extends "./base.html" %}

{% block faqpage %}active{% endblock %}
{% block background %}./img/bg_contact.png{% endblock %}
{% block color %}brown{% endblock %}
{% block title %}<span class="brown-text text-lighten-4">Frequently Asked Questions</span>{% endblock %}


{% block desc %}



{% endblock %}


{% block content %}

<div class="white-text">

    <h5 class="white-text"> <i class="material-icons">filter_1</i> Who's running DoujinSoft? </h5>
    DoujinSoft is a project managed by <a href="https://twitter.com/Difegue">Difegue</a> and friends.
    Nintendo has no involvement in creating or maintaining this service.
    <br />While the server costs are more than manageable, feel free to toss a <a
        href="https://ko-fi.com/lanraragi">coffee</a> my way if you like the service!

    <h5 class="white-text"> <i class="material-icons">filter_2</i> How can I extract my savefile to use with DoujinSoft?
    </h5>
    For DIY Showcase savefiles, it's as easy as copying the save to a SD Card. The data.bin file you will find is
    compatible with our service.
    Dolphin saves also work. <br />

    For NDS savefiles, consider moving your content to a flashcart, and then using its .sav file. You
    can also try using <a href="https://github.com/DS-Homebrew/GodMode9i">GodMode9i.</a>

    <h5 class="white-text"> <i class="material-icons">filter_3</i> How do I upload content to DoujinSoft?</h5>
    You can send your DIY Games/Music/Comics either through RiiConnect24 and DIY Showcase, or through our <a
        href="./upload">Web Uploader!</a><br />
    Check there for more info and guidance on how to extract content from game saves.<br />
    You can also use our <a href="https://github.com/Difegue/DoujinSoft">source code</a> to roll out your own DIY
    archive. The more the merrier!

    <h5 class="white-text"> <i class="material-icons">filter_4</i> Some of the (games/records/comics) I made back in
        2010 are on this archive and it's hella embarassing! <br />Can you do something?</h5>
    If you want a creation removed, email us. It'd be a darn shame though :^(

    <h5 class="white-text"> <i class="material-icons">filter_5</i> What's your stance on the "risque" games that were
        made with DIY?</h5>
    While we removed some of the more hardcore stuff from the archive, we globally don't care that much. The crazy
    nipponese hentai games <b>are</b> a part of the experience, after all.<br />
    NSFW content is blurred by default unless you explicitly agree to see it, but there still might be some games that
    slipped through the cracks.<br />If you see one, please report it to us!

    <h5 class="white-text"> <i class="material-icons">filter_6</i> How do I get started with RiiConnect24?</h5>
    First off, make sure your copy of DIY Showcase is <a
        href="https://wii.guide/wiimmfi#wiiware-patching">patched.</a><br />
    Past that, setup RiiConnect24 by checking their guide <a href="https://wii.guide/riiconnect24">here</a>, and make
    sure you're using their DNS. Be sure to
    register your Friend Code with us in the <a href="./cart">Cart</a> once you're set!

    <h5 class="white-text"> <i class="material-icons">filter_7</i> I'm not receiving any games sent through
        RiiConnect24!</h5>
    Make sure you're properly hooked to RiiConnect24 first. Easiest way to check that is to see if your Weather Channel
    is working!<br />
    Past that, make sure DoujinSoft's Wii Number appears as a friend in your Wii Address Book.

    <h5 class="white-text"> <i class="material-icons">filter_8</i> Where did you source the games from?</h5>
    The Nintendo WFC dump can be found <a href="https://archive.org/details/WarioWareDIYWarehouse">here.</a>
    Other games from the theme contests and NinSoft can be found in <a href="http://vixynya.blog6.fc2.com/">this
        collection.</a><br />
    And of course, since the WFC shutdown, new content has been entirely uploaded by the community.

    <h5 class="white-text"> <i class="material-icons">filter_9</i> What are your backup plans?</h5>
    A full backup is made daily and can be downloaded <a href="https://tvc-16.science/dsoft-backup.zip">here.</a><br />
    This backup is mirrored to other storage services as well.
</div>

{% endblock %}

{% block footdata %}


{% endblock %}