{% for game in items %}

{% if singleitem != true %}
<div class="col s12 m6 l4">
  {% else %}
  <div class="col s12 m12 l12"></div>
  {% endif %}
  <div class="card {{ game.colorCart }} darken-2">
    <div class="game-header {{ game.colorLogo }} accent-4">
      <div class="chip game-title" id="{{ game.hash }}-name">
        {{ game.name }}
      </div>
      <div class="game-metadata black-text">
        Released {{ game.timestamp }}<br />
        MIO-ID: G-{{ game.mioID }}
      </div>
    </div>

    <div class="card-content black-text">

      <div class="game-data">

        <div style="width:125px; float:left">

          {% if game.specialBrand != null %}
          <div class="brand {{ game.specialBrand }}-brand white-text"></div>
          {% else %}
          <div class="brand game-brand white-text tooltipped" 
            data-position="left" data-delay="50" data-tooltip="Find other games by this unique cartridge ID"
            onclick="searchForUser('{{ game.creator }}', '{{ game.cartridgeId }}', '{{ game.creatorId }}')">
            {{ game.brand }} <br />Software
          </div>
          {% endif %}

          <div class="game-creator black white-text">
            Made By
            <div class="white black-text tooltipped" style="border-radius:0px 0px 10px 10px; font-size:15px; cursor: pointer"
              data-position="left" data-delay="50" data-tooltip="Find other games by this creator"
              onclick="searchForUser('{{ game.creator }}', '{{ game.cartridgeId }}', 'FFFF0000FFFFFFFF')">
              {{ game.creator }}
            </div>
          </div>

        </div>

        <div class="game-preview z-depth-1 waves-effect tooltipped" data-tooltip="Play!"
          onclick="createModal('{{ game.hash }}', {{game.isNsfw}})"
          style="background-image: url('{{ game.preview }}');">
          {% if game.isNsfw %}
          <span class="game-blur">
            <i class="medium white-text material-icons game-icon" style="border-radius: 6px;">18_up_rating</i>
          </span>
          {% endif %}
          <i class="medium white-text material-icons game-icon" style="border-radius: 30px;">play_circle</i>
        </div>

      </div>

      <span class="game-text card-title white-text" style=""><br />{{ game.mioDesc1 }} <br />{{ game.mioDesc2 }}</span>
    </div>

    <div class="card-action center">

      <a class="btn waves-effect tooltipped" data-position="top" data-tooltip="Download"
        href="./download?type=game&id={{ game.hash }}" style="width:31%">
        <i class="material-icons">file_download</i>
      </a>
      <a class="btn waves-effect tooltipped share-btn" data-position="top" data-delay="50" style=" width:31%"
        onclick="copyShareLink('games','{{ game.hash }}')" data-tooltip="Get sharing link">
        <i class="material-icons">share</i>
      </a>
      <a class="btn waves-effect tooltipped cart-btn" data-position="top" data-tooltip="Add to cart"
        onclick="addToCart('game','{{ game.hash }}')" style="width:31%">
        <i class="material-icons">shopping_cart</i>
      </a>
    </div>
  </div>

</div>

{% else %}

No more games. <br />
Sad.

{% endfor %}

<span id="total_items" style="display:none">{{ totalitems }}</span>