{% extends "./base.html" %}

{% block background %}./img/bg_home_final.jpg{% endblock %}
{% block color %}red{% endblock %}
{% block type %}Your one-stop shop for WarioWare DIY{% endblock %}


{% block desc %}

<h1 class="white-text"></h1>

{% endblock %}


{% block content %}

<div class="row">

<object class="col l3 m4 hide-on-small-only" data="./img/dsoft-clipart.svg" type="image/svg+xml" >
</object>

<div class="col l9 m8 s12 white-text center"> 
	
	<h5>The DoujinSoft Store presents a selection of games, music and comics created with the 2010 Nintendo DS game WarioWare DIY, available for reading, listening, and transferring to your own copies of the game.<br/><br/>
		Select any of the categories in the upper menu to start exploring! <br/>Or you could look at our curated selections below.
	</h5>
	<br/><br/>
	
</div>

<div class="col l9 m8 s6 white-text center">

	 <h3>We're currently hosting: </h3> 
	 <h4 class="green-text" >
	 	<object style="height:25px" class="tooltipped" data="./img/fc-cart.svg" type="image/svg+xml" data-tooltip="Games" data-position="left"></object> 
	 	{{ totalGames }} 
	 </h4>
	 <h4 class="pink-text " >
	 	<i style="font-size:40px" class="material-icons pink-text prefix tooltipped" data-tooltip="Records" data-position="left">album</i> 
	 	{{ totalRecords }}  
	 </h4> 
	 <h4 class="blue-text " >
	 	<i style="font-size:40px" class="material-icons blue-text prefix tooltipped" data-tooltip="Comics" data-position="left">local_library</i> 
	 	{{ totalComics }} 
	 </h4>

</div>

<object style="margin-left:20px; margin-top:20px"class="center hide-on-med-and-up" data="./img/dsoft-clipart.svg" type="image/svg+xml" >
</object>

</div>
	
{% endblock %}

{% block footdata %}

<!-- Collections go here, as cards. Maybe generate those dynamically later ? -->
<h2 class="white-text">Our selections:</h2>
 
{% for collection in collections %}

<div class="col s12 m4">
    <div class="card selection-card" style="background-image:linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url('{{collection.background_pic}}') !important;">
        <div class="card-content white-text">
           <i class="material-icons {{collection.collection_color}}-text" style="font-size: 35px">{{collection.collection_icon}}</i>
            <span class="card-title">{{collection.collection_name}}</span>
            <p class=""> 
				<a href="./collection?id={{collection.id}}" class="waves-effect waves-light btn red">Browse Collection</a>
            </p>
        </div>
    </div>
</div>

 {% else %}
   
<h5 class="white-text">We don't have any selections currently available. <br/> You can still look at the entire catalogue through the main menu!</h5>

{% endfor %}


{% endblock %}