{% for item in mangas %}
	
	<div class="col s12 m6 l4">

          <div class="card {{ item.colorCart }} darken-2">
            <div class="game-header {{ item.colorLogo }} accent-4">
                <div class="chip game-title" id="{{ item.hash }}-name">
                  {{ item.name }}
                </div>
                <div class="game-metadata black-text">
                  Released on {{ item.timestamp }}<br/>
                  MIO-ID: M-{{ item.mioID }}
                </div>
              </div>

            <div class="card-content black-text">

                  <div class="game-data">

                    <div style="width:125px; float:left">

                      <div class="brand manga-brand white-text">
                      {{ item.brand }} <br/>Publishing
                      </div>

                      <div class="game-creator black white-text">
                        Creator
                        <div class="white black-text" style="border-radius:0px 0px 10px 10px; font-size:15px; cursor: pointer" onclick="searchForUser('{{ item.creator }}')">
                          {{ item.creator }}
                          </div>
                      </div>

                  </div>

					<a class="btn manga-preview z-depth-1 tooltipped waves-effect {{ item.colorLogo }}" data-tooltip="Read this" onclick="drawManga('{{ item.pages[0] }}','{{ item.pages[1] }}','{{ item.pages[2] }}','{{ item.pages[3] }}')" >
					 	<img src="./img/icons/comic/comic_{{ item.logo }}.png" /> 
					</a>

                  </div>

              <span class="game-text card-title white-text" style=""><br/>{{ item.mioDesc1 }} <br/>{{ item.mioDesc2 }}</span>          
            </div>
            <div class="card-action">
              <a class="btn waves-effect tooltipped" data-position="top" data-delay="50" data-tooltip="Download" href="./download?type=manga&id={{ item.hash }}" style="width:48%" >
                <i class="material-icons">file_download</i>
              </a>
              <a class="btn waves-effect tooltipped" style="float:right; width:48%" data-position="top" data-delay="50" data-tooltip="Add to cart" onclick="addToCart('manga','{{ item.hash }}','{{ item.name }}')">
                <i class="material-icons">shopping_cart</i>
              </a>
            </div>
          </div>

        </div>
        
   {% else %}
   
No more comics. <br/>
Sad.
       
{% endfor %}
	
<span id="total_items" style="display:none">{{ totalitems }}</span>