<div id="game-modal" class="modal game-player">
    <div class="modal-content" style="position: unset;">
        <h4 id="player-title" style="font-family: warioware" class="black-text">Game Name</h4>

        <div style="position: relative;" class="player-canvas">
            <canvas id="canvas-game" width="1920" height="1280"></canvas>
            <div id="animation-overlay"
                style="position: absolute; bottom: 0; width:100%; height: 100%; overflow:hidden; display:none">
                <span id="score-number" class="score-counter">255</span>
                <img id="life-1" class="life-icon"
                    style="position: absolute; top: 80%; left: 16%; width: 20%; height: 20%;" src="./img/nds.svg">
                <img id="life-2" class="life-icon"
                    style="position: absolute; top: 80%; left: 31%; width: 20%; height: 20%;" src="./img/nds.svg">
                <img id="life-3" class="life-icon"
                    style="position: absolute; top: 80%; left: 46%; width: 20%; height: 20%;" src="./img/nds.svg">
                <img id="life-4" class="life-icon"
                    style="position: absolute; top: 80%; left: 61%; width: 20%; height: 20%;" src="./img/nds.svg">
                <img id="truck-player" src="./img/diy-car.svg" class="animate__animated"
                    style="position: absolute; top: 52%; left: 35%; width: 25%; height: 25%;">
                <img src="./img/bg_player.png" style="height:100%; width: 100%" />
            </div>
        </div>

    </div>
    <div class="modal-footer" style="display: flex; padding: 6px 20px;">
        <div class="progress" style="width: 80%; display: inline-block; margin-right: 15px; margin-top: 15px;">
            <div class="determinate" id="game-timer"></div>
        </div>
        <a href="#!" id="replay-button" class="modal-action waves-effect waves-green btn-flat"
            style="margin-left: auto; margin-top: 0;" onclick="replayGame()">Replay</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"
            style="margin-left: auto; margin-top: 0;">Close</a>
    </div>
</div>

<div id="nsfw-modal" class="modal">
    <div class="modal-content">
        <h4 style="font-family: warioware" class="black-text">NSFW Content heads-up</h4>
        <p class="black-text">
            This microgame has been flagged as containing R18 content. Do you still want to play it?<br>
            You can choose to only reveal this once, or to always reveal NSFW content.
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" id="replay-button" class="modal-action waves-effect waves-green btn-flat"
            style="margin-left: auto; margin-top: 0;" onclick="bypassNsfwCheck(false)">Only this time!</a>
        <a href="#!" id="replay-" class="modal-action waves-effect waves-green btn-flat"
            style="margin-left: auto; margin-top: 0;" onclick="bypassNsfwCheck(true)">Don't show this warning again</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"
            style="margin-left: auto; margin-top: 0;">Cancel</a>
    </div>
</div>

<!-- TODO move to a js file -->
<script>

    var isInitialised = false;
    var mioData = null;
    var midiData = null;

    var canvas = document.getElementById('canvas-game');
    var context = canvas.getContext('2d');

    var lives;
    var score;
    var isPlayingCollection = false;
    var currentCollectionIteration = 0;
    var hasTrackEnded = false;
    var lostLastGame = false;
    var isBossGame = false;
    var tempHash = null;

    var mioPlayer = new window.mio.Player(canvas, document);
    const loadSound = (name) => {
        let audio = new Audio(`audio/${name}.ogg`);
        audio.volume = 1;
        return audio;
    };

    var sounds = [];
    var playerSounds = [];

    $('#game-modal').modal({
        dismissible: true,
        onCloseEnd: function () {
            context.clearRect(0, 0, canvas.width, canvas.height);
            player.pause();
            mioPlayer.stop();

            // Stop all sounds
            playerSounds.forEach(sound => {
                sound.pause();
                sound.currentTime = 0;
            });

            if (isPlayingCollection) {
                isPlayingCollection = false;
                $("#replay-button").show();
                $("#truck-player").attr('class', '');
                $("#animation-overlay").attr('class', '');
                $("#animation-overlay").hide();
                score = 0;
            }
        }
    });

    $('#nsfw-modal').modal({
        dismissible: true
    });

    mioPlayer.scaleCanvas(bestPossibleWindowSize());
    // Adjust the size of the overlay
    $('.player-canvas').css('height', canvas.height + 9);
    $('.player-canvas').css('width', canvas.width + 9);

    // re-scale canvas when the window size changes
    window.addEventListener('resize', function () {
        // Expand the canvas so the modal is expanded too.
        canvas.width = 1920;
        canvas.height = 1280;
        mioPlayer.scaleCanvas(bestPossibleWindowSize());

        // Adjust the size of the overlay
        $('.player-canvas').css('height', canvas.height + 9);
        $('.player-canvas').css('width', canvas.width + 9);
    });

    function modalSize() {
        return [$('#game-modal').width() - 48, $('#game-modal').height() - 108]; // Account for padding
    }

    function windowSizeComparedToOriginal(width, height) {
        return Math.min(width / window.mio.ORIGINAL_CANVAS_WIDTH, height / window.mio.ORIGINAL_CANVAS_HEIGHT);
    }

    function bestPossibleWindowSize() {
        let [width, height] = modalSize();
        return windowSizeComparedToOriginal(width, height);
    }

    function createModal(gameHash, isNsfw) {
        if (isNsfw && !localStorage.hasOwnProperty("disabledNsfwCheck")) {
            tempHash = gameHash;
            $('#nsfw-modal').modal('open');
        } else {
            startMioPlayer(gameHash);
        }
    }

    function bypassNsfwCheck(permanentlyDisable) {
        $('#nsfw-modal').modal('close');
        if (permanentlyDisable) {
            localStorage.disabledNsfwCheck = true;
            $(".game-blur").remove();
        }
        startMioPlayer(tempHash);
    }

    async function startMioPlayer(gameHash) {
        $('#game-modal').modal('open');
        mioData = await _fetch(`./download?type=game&id=${gameHash}`);
        buildMidiData(mioData);
        playGame(mioData);
    }

    async function playAnimation(animationClass) {
        $("#truck-player").attr('class', 'animate__animated');
        $("#truck-player").addClass(animationClass);

        currentAnimation = new Promise((resolve, reject) => {
            $("#truck-player").on('animationend', () => {
                if (isPlayingCollection)
                    resolve();
                else
                    reject();

            });
        });

        return currentAnimation;
    }

    async function startCollectionPlayer(gameHashes) {

        // Load sounds now since this is the first function called by player action
        // only if playerSounds is empty
        if (playerSounds.length == 0)
            playerSounds = [loadSound('player/player_start'), loadSound('player/player_game'), loadSound('player/player_win'),
            loadSound('player/player_lose'), loadSound('player/player_gameover')];

        isPlayingCollection = true;
        currentCollectionIteration++;
        const currentIteration = currentCollectionIteration;
        lives = 4;
        score = 1;
        $("#replay-button").hide();
        $("#animation-overlay").show();
        $("#score-number").html(score);
        $("#player-title").text("DoujinSoft Micro-Player");

        $('#game-modal').modal('open');

        let nextGame;
        let currentSound;
        let firstGame = _fetch(`./download?type=game&id=${gameHashes[0]}`);

        // Intro animation while fetching first game
        currentSound = playerSounds[0].play();
        $(".life-icon").attr('class', 'animate__animated animate__rollIn life-icon');
        $("#truck-player").attr('class', 'animate__animated');
        await playAnimation('animate__bounceInLeft');
        await playAnimation('animate__rubberBand animate__fast');
        await playAnimation('animate__tada animate__fast');

        // Collection gameplay loop
        mioData = await firstGame;

        while (isPlayingCollection && currentCollectionIteration === currentIteration) {

            // GAME_START
            currentSound = playerSounds[1].play();
            await playAnimation('animate__bounce');
            buildMidiData(mioData);
            await playAnimation('animate__bounceOutRight');

            if (!isPlayingCollection || currentIteration !== currentCollectionIteration)
                break;

            playGame(mioData); // Start playback so that mio loads during the animation

            // Animate overlay away animate__flipOutX
            $("#animation-overlay").attr('class', 'animate__animated animate__backOutDown animate__faster');

            // Pick a random hash
            let gameHash = gameHashes[Math.floor(Math.random() * gameHashes.length)];

            // Download the next game while the current one is playing
            console.log(`Fetching next game : ${gameHash}`);
            nextGame = _fetch(`./download?type=game&id=${gameHash}`).catch(e => {
                console.log("Error fetching next game: " + e);
                // Pick another hash and retry
                gameHash = gameHashes[Math.floor(Math.random() * gameHashes.length)];
                nextGame = _fetch(`./download?type=game&id=${gameHash}`);
            });

            // Wait for mioPlayer's 'ended' event
            await new Promise(resolve => {
                mioPlayer.on('ended', resolve);
            });

            // isPlayingCollection is not enough to break out of the loop, since if the player restarts a game,
            // we'll come back here after the player finishes the first game of the new iteration.
            if (!isPlayingCollection || currentIteration !== currentCollectionIteration)
                break;

            // Bring back overlay
            $("#animation-overlay").attr('class', 'animate__animated animate__flipInX animate__faster');
            $("#animation-overlay").show();

            // Check win/lose status
            score++;
            $("#score-number").html(score);
            if (lostLastGame) {
                $("#player-title").text("Oh no!");

                // Animate life icon
                let icon = `#life-${lives}`;
                lives--;
                $(icon).attr('class', 'animate__animated animate__hinge life-icon');

                // GAME_LOSS
                currentSound = playerSounds[3].play();
                await playAnimation('animate__lightSpeedInLeft animate__faster');
                await playAnimation('animate__rotateOut animate__faster');
                await playAnimation('animate__bounceInDown animate__faster');
            } else {

                if (isBossGame) {
                    $("#player-title").text("1-UP!");

                    if (lives < 4) {
                        lives++;
                        let icon = `#life-${lives}`;
                        $(icon).attr('class', 'animate__animated animate__bounceIn life-icon');
                    }
                }
                else
                    $("#player-title").text("Nice!");

                // GAME_WIN
                currentSound = playerSounds[2].play();
                await playAnimation('animate__zoomInLeft');
                await playAnimation('animate__heartBeat animate__fast');
            }

            if (lives <= 0) {
                $("#player-title").text("Game Over");

                // GAME_OVER
                currentSound = playerSounds[4].play();
                await playAnimation('animate__hinge');
                $("#replay-button").show();

                break;
            }

            if (!isPlayingCollection || currentIteration !== currentCollectionIteration)
                break;

            // Wait for the next game to be downloaded
            mioData = await nextGame;
        }

    }

    function handleMouseMove(event) {
        if (typeof canvas !== 'undefined') {
            mioPlayer.setStylusPosition(event.clientX, event.clientY);
        }
    }

    function handleMouseDown(event) {
        if (event.button === 0) {
            mioPlayer.touchScreen();
        }
    }

    function handleMouseUp(event) {
        if (event.button === 0) {
            mioPlayer.withdrawTouchFromScreen();
        }
    }

    function handleTouchStart(event) {
        if (typeof canvas !== 'undefined') {
            let touch = event.touches[0] || event.changedTouches[0];
            mioPlayer.setStylusPosition(touch.clientX, touch.clientY);
        }
        mioPlayer.touchScreen();
    }

    function handleTouchEnd() {
        mioPlayer.withdrawTouchFromScreen();
    }

    // _fetch function taken from timidity by Feross Aboukhadijeh
    // https://github.com/feross/timidity
    async function _fetch(url) {
        const opts = {
            mode: 'cors',
            credentials: 'same-origin'
        }
        const response = await window.fetch(url, opts)
        if (response.status !== 200) {
            popToast(`Could not load ${url}`);
            throw new Error(`Could not load ${url}`)
        };

        const arrayBuffer = await response.arrayBuffer()
        const buf = new Uint8Array(arrayBuffer)
        return buf
    }

    function buildMidiData(mioData) {
        let loopTimes;

        if (mioData[0xE605] === 0) {
            loopTimes = 0;
        } else if (mioData[0xE605] === 1) {
            loopTimes = 1; // double length
        } else {
            loopTimes = 11; // boss length (11 is a completely arbitrary number)
        }
        midiData = window.buildMidiFile(mioData, loopTimes);

        player.load(midiData);
    }

    function playGame(mioData) {
        if (!isInitialised) {
            initializeMioPlayer();
        }

        mioPlayer.loadAndStart(mioData);
    }

    function initializeMioPlayer() {

        var winSounds = [loadSound('win1'), loadSound('win2')];
        var loseSounds = [loadSound('lose1'), loadSound('lose2')];

        mioPlayer.soundNames.forEach(name => {
            let audio = loadSound(name);
            sounds.push(audio);
        });

        mioPlayer.sounds = sounds;
        mioPlayer.winSounds = winSounds;
        mioPlayer.loseSounds = loseSounds;

        // current frame and the final frame in which the game will end: i.e. 240 for SHORT, 480 for LONG and undefined for BOSS
        mioPlayer.on('frameupdate', (frame, endFrame) => {

            // Update game-timer div
            if (endFrame === undefined) {
                $("#game-timer").attr("class", "indeterminate");
                isBossGame = true;
            }
            else {
                $("#game-timer").attr("class", "determinate");
                $("#game-timer").attr("style", `width:${(100 - (frame / endFrame * 100))}%`);
                isBossGame = false;
            }
        });

        mioPlayer.on('won', () => lostLastGame = false);
        mioPlayer.on('lost', () => lostLastGame = true);
        mioPlayer.on('playing', () => {
            $("#player-title").text(mioPlayer.gameData.name);
        });

        document.addEventListener('mousemove', handleMouseMove, false);
        canvas.addEventListener('mousedown', handleMouseDown, false);
        document.addEventListener('mouseup', handleMouseUp, false)

        canvas.addEventListener('touchstart', handleTouchStart, false);
        document.addEventListener('touchend', handleTouchEnd, false);

        player.on('ended', () => { hasTrackEnded = true; });

        mioPlayer.musicPlayer = {
            playMusic: () => {
                player.pause();
                player.seek(0);
                player.play();
                hasTrackEnded = false;
            },
            pauseMusic: () => player.pause(),
            hasTrackEnded: () => hasTrackEnded,
        };

        let fontBitmap = new Image();
        fontBitmap.src = 'img/miofont.png';

        mioPlayer.fontBitmap = fontBitmap;

        isInitialised = true;
    }

    function replayGame() {

        // Collection replay
        if (isPlayingCollection) {
            startCollectionPlayer(collectionHashes);
            return;
        }

        // Single game replay
        player.pause();
        player.load(midiData);
        mioPlayer.loadAndStart(mioData);
    }

</script>