{% extends "./base.html" %}

{% block recordpage %}active{% endblock %}
{% block background %}./img/bg_rec.png{% endblock %}
{% block color %}pink{% endblock %}
{% block type %}Records{% endblock %}
{% block desc %}
Browse all those mad jams and remixes. Maybe you'll find something to use for your next game.
<br/><br/>
We don't have the original instruments, but you can listen to midi renditions of the records in your browser. Just click on the vinyls to get listening!
<br/><br/>

<div id="game-search">
	
	<div style="height: 50px; width: 300px;" class="chip">
	      <div class="input-field" style="margin-top:-5px; margin-left: -10px;">
	          <i style="margin-top: 15px;" class="material-icons prefix">account_circle</i>
	          <input id="maker_name" class="validate" type="text">
	          <label class="" for="maker_name">Creator Name</label>
	        </div>
	</div>

	<div style="height: 50px; width: 300px" class="chip">
        <div class="input-field" style="margin-top:-5px; margin-left: -10px;">
            <i style="margin-top: 15px;" class="material-icons prefix">album</i>
            <input id="item_name" type="text">
            <label class="" for="item_name">Record Name</label>
          </div>
      </div>
    <br/>  <br/>   
  	<a class="waves-effect waves-light btn" style="width:160px" onclick="loadItems(1)">
  		<i class="material-icons left">search</i>Search
  	</a>
  	<a class="waves-effect waves-light btn" style="width:160px" onclick="clearSearch()">
  		<i class="material-icons left">clear</i>Clear
  	</a>
  	

</div>
<br/>
<div id="pagination-top" class="pagination-wrapper chip">
  <ul class="pagination"></ul>
</div>

{% endblock %}


{% block content %}

	{% include "./recordsDetail.html" %}
	
{% endblock %}

{% block footdata %}

<div id="pagination-bottom" class="pagination-wrapper chip">
  <ul class="pagination"></ul>
</div>

{% endblock %}