{% extends "./base.html" %}

{% block surveypage %}active{% endblock %}
{% block background %}./img/bg_contact.png{% endblock %}
{% block color %}orange{% endblock %}
{% block title %}Surveys{% endblock %}
{% block desc %}
Hot takes and opinions, coming directly from users worldwide!
<br /><br />
You can rate content from both <a href="https://www.mariowiki.com/WarioWare:_D.I.Y._Showcase">DIY Showcase</a> on Wii 
and <a href="https://difegue.itch.io/yonderu-doujinsoft">Yonderu! DoujinSoft</a> for Playdate. <br /> This page is a simple way to display all the ratings we've received.
<br /><br />

<div id="survey-search">
	<div style="height: 50px; width: 300px" class="chip">
		<div class="input-field" style="margin-top:-5px; margin-left: -10px;">
			<i style="margin-top: 5px;" class="material-icons prefix">search</i>
			<input id="item_name" type="text" value="{{nameSearch}}">
			<label class="" for="item_name" style="margin-top:-5px">Content Name</label>
		</div>
	</div>

	<a class="waves-effect waves-light btn" style="width:128px; margin-top: 12px;" onclick="loadItems(1)">
		<i class="material-icons left">search</i>Search
	</a>
	<a class="waves-effect waves-light btn" style="width:128px; margin-top: 12px;" onclick="clearSearch()">
		<i class="material-icons left">clear</i>Clear
	</a>
</div>
<br />
<div id="pagination-top" class="pagination-wrapper chip">
  <ul class="pagination pagination-survey"></ul>
</div>

{% endblock %}


{% block content %}

{% include "./surveysDetail.html" %}

{% endblock %}

{% block footdata %}

<div id="pagination-bottom" class="pagination-wrapper chip">
  <ul class="pagination pagination-survey"></ul>
</div>

{% endblock %}