{% for item in items %}

<div class="col s12 m6 l4">

  <div class="card {{ item.color }} darken-2">
    <div class="game-header accent-4">
      <div class="chip game-title">
        {{ item.name }}
      </div>
      <div class="game-metadata note-{{ item.starCount }}">
        <i class="material-icons star-1">star</i>
        <i class="material-icons star-2">star</i>
        <i class="material-icons star-3">star</i>
        <i class="material-icons star-4">star</i>
        <i class="material-icons star-5">star</i>
      </div>
    </div>

    <div class="card-content white-text">
      {{ item.comment }}
    </div>

    <div class="card-action">

      {% if item.miohash == null %}
      <a class="btn waves-effect tooltipped" data-position="top" data-tooltip="We haven't been able to find an exact match for this.. But you can still search for it!"
        onclick="searchStore('{{item.category}}','{{ item.name }}')" >
        <i class="material-icons left">search</i>Find in Store
      </a>
      {% else %}
        <a class="btn waves-effect" 
        href="{{item.category}}?id={{item.miohash}}" >
        <i class="material-icons left">link</i>View in Store
      </a>
      {% endif %}
    </div>
  </div>

</div>

{% else %}

No more opinions. <br />
Sad.

{% endfor %}

<span id="total_items" style="display:none">{{ totalitems }}</span>