{% extends "./base.html" %}

{% block surveypage %}active{% endblock %}
{% block background %}./img/bg_contact.png{% endblock %}
{% block color %}orange{% endblock %}
{% block title %}Surveys{% endblock %}
{% block desc %}
Hot takes and opinions, coming directly from WiiLink24 users!
<br /><br />
Games/Records/Comics sent to DIY Showcase on Wii can be rated by users. <br /> This page is a simple way to display all
the ratings we've received.
<br /><br />

<br />
<div id="pagination-top" class="pagination-wrapper chip">
  <ul class="pagination pagination-survey"></ul>
</div>

{% endblock %}


{% block content %}

{% include "./surveysDetail.html" %}

{% endblock %}

{% block footdata %}

<div id="pagination-bottom" class="pagination-wrapper chip">
  <ul class="pagination pagination-survey"></ul>
</div>

{% endblock %}