{% extends "./base.html" %}

{% block uploadpage %}active{% endblock %}
{% block background %}./img/bg_send.png{% endblock %}
{% block color %}amber{% endblock %}
{% block title %}Upload DIY Content{% endblock %}


{% block desc %}

Adding your WarioWare DIY content to DoujinSoft so it can be shared with the world has never been easier!
<br>
You can either upload .mio files here directly or use <a href="http://rc24.xyz">RiiConnect24</a> with DIY Showcase to
send us content.
<br>

{% endblock %}


{% block content %}

<div class="white-text">

    <h5 class="amber-text"> <i class="material-icons">store</i> I want to use RiiConnect24!</h5>

    Please make sure you've registered with us in the <a href="./cart">Cart</a> first! <br>
    If you did so, all you have to do is send your content to DoujinSoft's Wii Friend through WarioWare: DIY Showcase's
    <b>Distribution Center.</b> <br>
    (If you can't send content to DoujinSoft on your Wii, make sure your copy of DIY Showcase is <a href="https://wii.guide/wiimmfi#wiiware-patching">patched.</a>)
    <br>
    Files sent this way will be instantly approved and featured in the <a href="./collection?id=e_rc24_g">RC24
        Collections!</a><br>
    You'll also receive a nice thank-you letter as a bonus. 💌

    <h5 class="amber-text"> <i class="material-icons">save</i> I don't have RiiConnect24 / I want to send you .mio
        files!</h5>

    First off, please make sure the files you want to send aren't already in the archive!
    It makes for extra busywork otherwise. <br>
    Past that, you'll want to extract the content from your game as <b>.mio files.</b>
    Here are some quick ways you can do that: <br>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header black-text"><i class="material-icons">filter_1</i>(3)DS + GodMode9i</div>
            <div class="collapsible-body"><span>If you have a flash cart or a modded DSi or 3DS, and you're playing
                    the game using a cartridge, you can use <a
                        href="https://github.com/DS-Homebrew/GodMode9i">GodMode9i</a> to extract the savefile. <br>
                    Use <a href="https://www.romhacking.net/utilities/1000/">CrygorTool</a> to dump the .mio files from the savefile. <br>
                    You can also try <a href="https://www.romhacking.net/utilities/1008/">DIYEdit</a> if you have Java.</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header black-text"><i class="material-icons">filter_2</i>Wii + Save File</div>
            <div class="collapsible-body"><span>You can dump .mio files from a WarioWare: DIY Showcase savefile, using
                    <a href="https://www.romhacking.net/utilities/1008/">WarioWare DIY Editor</a>, a program written in
                    Java. <br> You can copy the savefile to a SD Card using the Wii System Menu, or to a USB drive using
                    <a href="https://oscwii.org/library/app/savegame_manager_gx">SaveGame Manager GX</a>.</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header black-text"><i class="material-icons">filter_3</i>melonDS</div>
            <div class="collapsible-body"><span>If you use melonDS, a DS emulator, the savefile for the game will be in
                    the same folder as the ROM. <br>
                    Use <a href="https://www.romhacking.net/utilities/1000/">CrygorTool</a> to dump the .mio files from the savefile. <br>
                    You can also try <a href="https://www.romhacking.net/utilities/1008/">DIYEdit</a> if you have Java. <br>
                    (To use DIYEdit, you will need to expand the savefile to be twice the size (33554432 bytes), which can be done with a hex editor.<br>
            </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header black-text"><i class="material-icons">filter_4</i>DeSmuME</div>
            <div class="collapsible-body"><span> If you use DeSmuME, you can go to File > Export ROM Save File... to
                    extract the savefile. Save it as a Raw Save File.<br>
                    Use <a href="https://www.romhacking.net/utilities/1000/">CrygorTool</a> to dump the .mio files from the savefile. <br>
                    You can also try <a href="https://www.romhacking.net/utilities/1008/">DIYEdit</a> if you have Java. <br>
                    (To use DIYEdit, you will need to expand the savefile to be twice the size (33554432 bytes), which can be done with a hex editor.<br>
                </span>
            </div>
        </li>
    </ul>

    Drag and drop your .mio files below to get started. Files sent this way will have to be approved manually before
    landing in the archive.<br><br>


    <span style="line-height:20px; margin-left:40%" class="btn-large waves-effect fileinput-button">
        <i style="padding-top:6px;" class="material-icons medium">cloud_upload</i><br>
        <span>Upload files</span>
        <input type="file" name="file" multiple="" id="fileupload">
    </span>

    <div class="progress" style="display:none">
        <div class="indeterminate amber"></div>
    </div>
    <ul class="collection black-text" style="text-align:left" id="files">
    </ul>

</div>

{% endblock %}

{% block footdata %}

<script>
    function initUpload() {

        //Handler for file uploading.
        $('#fileupload').fileupload({
            dataType: 'json',
            done: function (e, data) {

                if (!data.result.success)
                    result = '<li class="collection-item avatar cart-item" type=data.result.type>' +
                        '	<i class="material-icons red-text cart-icon">error</i>' +
                        '	<span class="title">' + escapeHtml(data.result.filename) + ' is not a valid .mio file.</span>' +
                        '</li>';
                else
                    result = '<li class="collection-item avatar cart-item" type=' + data.result.type + '>' + (
                        (data.result.type === "game") ? '<i class="material-icons green-text cart-icon">videogame_asset</i>'
                            : (data.result.type === "record") ? '<i class="material-icons pink-text cart-icon">album</i>'
                                : '<i class="material-icons blue-text cart-icon">local_library</i>') +
                        '	    <span class="title">' + escapeHtml(data.result.name) + ' by ' + escapeHtml(data.result.creator) + ' uploaded!</span>' +
                        '</li>';

                $('#files').append(result);
            },

            fail: function (e, data) {
                popToast("Upload failed! Is this file a .mio?");
                console.log(data.errorThrown);
                $(".progress").hide();
                $(".fileinput-button").show();
            },

            start: function (e, data) {
                $(".progress").show();
                $(".fileinput-button").hide();
            },

            stop: function (e, data) {
                popToast("Upload complete. Thank you for contributing to DoujinSoft!");
                $(".progress").hide();
                $(".fileinput-button").show();
            }

        });
    }
    window.onload = initUpload;
</script>


{% endblock %}