/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

@font-face {
    font-family: 'warioware';
    src: url('warioware_inc.-webfont.woff2') format('woff2'),
         url('warioware_inc.-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	font-family: Karla, Calibri, Trebuchet, sans-serif;
}

body {
    background-image: url('../img/bg_gam.png');
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('../img/bg_gam.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

label.active {
	margin-top:8px;
}

.pagination li.active {
    background-color: #EE6E73;
    font-size: 1.2rem;
    padding: 0px 10px;
    line-height: 30px;
}

.pagination-wrapper {
	
	height: 50px; 
	max-width: 600px; 
	width: 70%;
	
}

.game-header {

    overflow:hidden;
    width:100%;
}

.game-title {
    font-family: warioware;
    font-size: 24px !important;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #353535 !important;
    color: #FFF !important;
    display: inline-block;
    min-width: 50%;
    text-align: center;
}

.game-metadata {
    float: right;
    text-align: right;
    margin-right: 5px;
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
}

.game-data {
    display: inline-block;
    float: right;
    width: 100%; 
}

.brand {
	line-height:17px; 
    font-size:15px; 
    width: 125px; 
    height: 50px; 
    text-align:center; 
    padding:7px; 
    margin-right:10px; 
    display:inline-block; 
    vertical-align: top;
}

.game-brand {
    background-image: url('../img/icons/game/publisher.png'); 
}

.manga-brand {
    background-image: url('../img/icons/comic/publisher.png'); 
}

.record-brand {
	background-image: url('../img/icons/music/publisher.png'); 
}

.game-creator {
    width:125px; 
    text-align:center; 
    margin-top:10px; 
    border: 3px solid black; 
    border-radius:10px; 
    font-size:12px; 
}

.game-preview {

    display:inline-block; 
    float:right; 
    max-width:180px; 
    width:100%; 
    border: 3px solid black;
}

.manga-preview {

    display:inline-block; 
    float:right; 
    max-width:180px; 
    width:100%; 
    cursor: zoom-in; 
    text-align: center; 
    height:100px; 
    border: none;
}

.manga-preview > img {
	background-color: #353535; 
	height: 75%; 
	margin: 10%; 
	border-radius: 5px;
}

.game-text {

    margin-bottom:-10px !important; 
    font-size: 22px !important; 
    display: inline-flex !important;
    height: 80px;
    text-overflow: ellipsis;
}

.materialboxed:not(.active) {
  display:none;
}

@media screen and (max-width:1700px) and (min-width:992px), screen and (max-width:920px) and (min-width:600px), screen and (max-width: 420px ){

    .game-preview {
        width:50%; 
    }

	.manga-preview {
		width:50%;
	}

    .game-metadata {
        font-size: 12px;
        text-align: center;
        display: block;
        float: none;
    }

    .game-title {
        min-width: 200%;
        margin-left: 10px;
        text-align: left;
    }
}

@media screen and (max-width:1360px) and (min-width:992px), screen and (max-width:750px) and (min-width:600px), screen and (max-width: 400px ){

    .game-preview {
        margin-top: 10px;
        width:100%; 
        float:none;
    }
    
     .manga-preview {
        margin-top: 10px;
        width:100%; 
        float:none;
    }
    
    .game-data {
    text-align: center;
    }


}