<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>DoujinSoft</display-name>
  <welcome-file-list>
  	<welcome-file>home</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.difegue.doujinsoft.utils.ServerInit</listener-class>
  </listener>
  
  <!-- Change this directory to the one you want to store DoujinSoft data to. -->
  <context-param>
    <param-name>dataDirectory</param-name>
    <param-value>C:\Users\Vincent\Desktop\DoujinSoftDataFolder</param-value>
  </context-param>
  
</web-app>